*
!*.md
!*.h.in
!.txt
!CMakeLists.txt
!*.cmake
!.gitignore

!src/
!src/**
src/secpoline_loader/Makefile
src/secpoline_loader/CMakeFiles/
src/secpoline_loader/CMakeFiles/**

!debug_scripts/
!debug_scripts/*.py

!tests/
!tests/**

!falco/
!falco/**

!falco_shim/
!falco_shim/**

!benchmarks/
!benchmarks/microbench/
!benchmarks/microbench/*
!benchmarks/falco_benchmarks/
!benchmarks/falco_benchmarks/zip_bench.sh
!benchmarks/config.json
