*
!*.md
!*.h.in
!.txt
!CMakeLists.txt
!*.cmake
!.gitignore
!sysbench.sh

!src/
!src/**

!debug_scripts/
!debug_scripts/*.py

!secpoline_loader/
!secpoline_loader/**

secpoline_loader/CMakeFiles/
secpoline_loader/CMakeFiles/**

!tests/
!tests/**

!proxysql/
!proxysql/**

!benchmarks/
!benchmarks/microbench/
!benchmarks/microbench/*
!benchmarks/config.json
!benchmarks/benchmark_cerberus.md
!benchmarks/benchmark_endokernel.md
