*
!*.md
!*.h.in
!.txt
!CMakeLists.txt
!*.cmake
!.gitignore
!sysbench.sh

!src/
!src/**
src/secpoline_loader/Makefile
src/secpoline_loader/CMakeFiles/
src/secpoline_loader/CMakeFiles/**

!debug_scripts/
!debug_scripts/*.py

!tests/
!tests/**

!libproxysql/
!libproxysql/libproxysql1.patch
!libproxysql/Makefile
!libproxysql/benchmark/
!libproxysql/benchmark/init_mysql_database.sh
!libproxysql/benchmark/sysbench.sh

!benchmarks/
!benchmarks/microbench/
!benchmarks/microbench/*
!benchmarks/config.json
!benchmarks/linux-6.12.0-full-cerberus.patch
!benchmarks/benchmark_cerberus.md
!benchmarks/benchmark_endokernel.md
